@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
    color: black !important;
}

.brand-logo,
.insta-font {
    font-family: "Grand Hotel", cursive;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 2px solid gray;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    width: 110%;
}

.profile-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-gallery-img {
    width: 33%;
    padding-top: 5px;
}

.profile-page {
    max-width: 800px;
    margin: 0px auto;
}

.home-card {
    max-width: 800px;
    height: max-content;
    margin: 25px auto;
}

.home-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: -15px;
}

.newPost-card {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 20px 30px;
}

.auth-card {
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
    padding: 10px 10px;
}

#toast-container {
    top: 40px;
    right: 20px;
    left: auto;
}
